/* responsive for mobile device */

@media screen and (max-width:576px){
     /* navbar  */
    .header-nav{
        width: 100%;
        justify-content: space-evenly;
        /* margin-left: 4px;
        margin-right: 4px; */
    }
    .nav-link, .dot{
        display: none;
    }

    .nav-burger, .cart{
        display: block;
        
    }

    .header-contentainer{
        flex-direction: column;
        flex-direction: column-reverse;
        width: 100%;
        margin: 10px auto;
    }

    .header-content{
        text-align: center;
        width: 100%;
        margin: 10px auto;
    }

    .brand-container{
        grid-template-columns: repeat(4, 1fr);
        /* width:100%;
        margin: 10px auto;    */
    }

    .brand{
        align-items: center;
        justify-content: center;
        
    }



    /* .brand-container{
        flex-wrap: wrap;
        margin: 10px 30px;
    } */

    


}