/* responsive for mobile device */

@media screen and (max-width:576px){
     
    .header-nav{
        width: 90%;
        justify-content: space-evenly;
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav-link, .dot{
        display: none;
    }

    .nav-burger, .cart{
        display: block;
    }


}